<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionHeaderTitle</key>
		<string>这是第一组</string>
		<key>section</key>
		<integer>0</integer>
		<key>itemsArr</key>
		<array>
			<dict>
				<key>canEdit</key>
				<true/>
				<key>placeholder</key>
				<string>请输入测试数据1</string>
				<key>title</key>
				<string>类型1</string>
				<key>text</key>
				<string></string>
				<key>canHiddenBack</key>
				<true/>
			</dict>
			<dict>
				<key>canEdit</key>
				<true/>
				<key>placeholder</key>
				<string>请输入测试数据2</string>
				<key>title</key>
				<string>类型2</string>
				<key>text</key>
				<string></string>
				<key>canHiddenBack</key>
				<true/>
			</dict>
			<dict>
				<key>canEdit</key>
				<true/>
				<key>placeholder</key>
				<string>请输入测试数据3</string>
				<key>title</key>
				<string>类型3</string>
				<key>text</key>
				<string></string>
				<key>canHiddenBack</key>
				<true/>
			</dict>
			<dict>
				<key>canEdit</key>
				<true/>
				<key>placeholder</key>
				<string>请输入测试数据4</string>
				<key>title</key>
				<string>类型4</string>
				<key>text</key>
				<string></string>
				<key>canHiddenBack</key>
				<true/>
				<key>canEmpty</key>
				<true/>
			</dict>
			<dict>
				<key>canEdit</key>
				<true/>
				<key>placeholder</key>
				<string>请输入测试数据5</string>
				<key>title</key>
				<string>类型5</string>
				<key>text</key>
				<string></string>
				<key>canHiddenBack</key>
				<true/>
			</dict>
			<dict>
				<key>canEdit</key>
				<true/>
				<key>placeholder</key>
				<string>请输入测试数据6</string>
				<key>title</key>
				<string>类型6</string>
				<key>text</key>
				<string></string>
				<key>canHiddenBack</key>
				<true/>
			</dict>
			<dict>
				<key>canEdit</key>
				<true/>
				<key>placeholder</key>
				<string>请输入测试数据7</string>
				<key>title</key>
				<string>类型7</string>
				<key>text</key>
				<string></string>
				<key>canHiddenBack</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionHeaderTitle</key>
		<string>这是第二组</string>
		<key>section</key>
		<integer>0</integer>
		<key>itemsArr</key>
		<array>
			<dict>
				<key>canEdit</key>
				<true/>
				<key>placeholder</key>
				<string>请输入测试数据1</string>
				<key>title</key>
				<string>类型1</string>
				<key>text</key>
				<string></string>
				<key>canHiddenBack</key>
				<true/>
			</dict>
			<dict>
				<key>canEdit</key>
				<true/>
				<key>placeholder</key>
				<string>请输入测试数据2</string>
				<key>title</key>
				<string>类型2</string>
				<key>text</key>
				<string></string>
				<key>canHiddenBack</key>
				<true/>
			</dict>
			<dict>
				<key>canEdit</key>
				<true/>
				<key>placeholder</key>
				<string>请输入测试数据3</string>
				<key>title</key>
				<string>类型3</string>
				<key>text</key>
				<string></string>
				<key>canHiddenBack</key>
				<true/>
			</dict>
			<dict>
				<key>canEdit</key>
				<true/>
				<key>placeholder</key>
				<string>请输入测试数据4</string>
				<key>title</key>
				<string>类型4</string>
				<key>text</key>
				<string></string>
				<key>canHiddenBack</key>
				<true/>
			</dict>
			<dict>
				<key>canEdit</key>
				<true/>
				<key>placeholder</key>
				<string>请输入测试数据5</string>
				<key>title</key>
				<string>类型5</string>
				<key>text</key>
				<string></string>
				<key>canHiddenBack</key>
				<true/>
			</dict>
			<dict>
				<key>canEdit</key>
				<true/>
				<key>placeholder</key>
				<string>请输入测试数据6</string>
				<key>title</key>
				<string>类型6</string>
				<key>text</key>
				<string></string>
				<key>canHiddenBack</key>
				<true/>
			</dict>
			<dict>
				<key>canEdit</key>
				<true/>
				<key>placeholder</key>
				<string>请输入测试数据7</string>
				<key>title</key>
				<string>类型7</string>
				<key>text</key>
				<string></string>
				<key>canHiddenBack</key>
				<true/>
			</dict>
		</array>
	</dict>
</array>
</plist>
